.heroesInfoContainer{
    background-image: url(../../assets/images/background/part-news-bg_ac16ec22.png);
    background-size: cover;
    width: 100%;
    height: 104vh;
    position: relative;
    margin-top: -7.9%;
z-index: 2;
}