/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */

@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('../../assets/font/font/RefrigeratorDeluxe-Bold.eot');
    src: local('Refrigerator Deluxe Light'), local('RefrigeratorDeluxe-Light'),
        url('../../assets/font/font/RefrigeratorDeluxe-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/font/RefrigeratorDeluxe-Light.woff2') format('woff2'),
        url('../../assets/font/font/RefrigeratorDeluxe-Light.woff') format('woff'),
        url('../../assets/font/font/RefrigeratorDeluxe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('../../assets/font/font/RefrigeratorDeluxe-Heavy.eot');
    src: local('Refrigerator Deluxe Heavy'), local('RefrigeratorDeluxe-Heavy'),
        url('../../assets/font/font/RefrigeratorDeluxe-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/font/RefrigeratorDeluxe-Heavy.woff2') format('woff2'),
        url('../../assets/font/font/RefrigeratorDeluxe-Heavy.woff') format('woff'),
        url('../../assets/font/font/RefrigeratorDeluxe-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('../../assets/font/font/RefrigeratorDeluxe.eot');
    src: local('Refrigerator Deluxe'), local('RefrigeratorDeluxe'),
        url('../../assets/font/font/RefrigeratorDeluxe.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/font/RefrigeratorDeluxe.woff2') format('woff2'),
        url('../../assets/font/font/RefrigeratorDeluxe.woff') format('woff'),
        url('../../assets/font/font/RefrigeratorDeluxe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('../../assets/font/font/RefrigeratorDeluxe-Bold.eot');
    src: local('Refrigerator Deluxe Bold'), local('RefrigeratorDeluxe-Bold'),
        url('../../assets/font/font/RefrigeratorDeluxe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/font/RefrigeratorDeluxe-Bold.woff2') format('woff2'),
        url('../../assets/font/font/RefrigeratorDeluxe-Bold.woff') format('woff'),
        url('../../assets/font/font/RefrigeratorDeluxe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('../../assets/font/font/RefrigeratorDeluxe-ExtraBold.eot');
    src: local('Refrigerator Deluxe ExtraBold'), local('RefrigeratorDeluxe-ExtraBold'),
        url('../../assets/font/font/RefrigeratorDeluxe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/font/font/RefrigeratorDeluxe-ExtraBold.woff2') format('woff2'),
        url('../../assets/font/font/RefrigeratorDeluxe-ExtraBold.woff') format('woff'),
        url('../../assets/font/font/RefrigeratorDeluxe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

*{
  font-family: 'Refrigerator Deluxe', sans-serif;
}

.bgVid-box {
  overflow: hidden;
}
.bgVid-box video {
  position: relative;
  width: 100vw;
  height: 108vh;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.homeMarvelLogo img {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 33%;
}

.slogan {
  position: absolute;
  top: 49.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9dd3c;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  font-style: normal;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
}

.slogan h3 {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 3px;
}

.slogan h2 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 5px;
}

.PlayNowBtn {
  border: none;
  background-image: url(../../assets/images/background/button.png);
  background-size: fill;
  background-position: center;
  box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.563);
  position: absolute;
  background-color: #ffde37;
  color: #12151d;
  text-decoration: none;
  font-weight: bold;
  height: 3rem;
  width: 18.7vw;
  font-size: 1.7rem;
  letter-spacing: 1px;
  top: 61%;
  left: 40.5%;
}


.platforms {
  position: absolute;
  top: 74.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 0;
}

.platform {
  width: auto;
  height: 4.3vh;
  flex: 0 0 auto;
}

.WL {
  width: auto;
  height: 3.2vh;
  flex: 0 0 auto;
}

.ps4 {
  height: 2.3vh;
}

.platform + .platform {
  border-left: 1px solid #fff;
  margin-left: 20px;
  padding-left: 20px;
}


.swipe-banner {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 83%;
  padding: 10px ;
  gap: 1px;
  width: 100%;
  animation: bounce 1.2s infinite;
}

.swipe-img {
  background-image: url(../../assets/images/background/SwipeBrowse.png);
  /* color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 0.85rem; */
  /* letter-spacing: 2px; */
  width: 13rem;
  height: 1.4rem;
  background-size: cover;
  background-position: center;
  filter: contrast(1.9) brightness(1.05);

  /* display: flex; */
}

.swipe-line {
  display: inline-block;
  width: 40px;
  height: 1px;
  background: rgba(255,255,255,0.5);
}

.swipe-arrow {
  margin-top: -10px;
  color: #f9dd3c;
  font-size: 1.2rem;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50%       { transform: translateY(5px); }
}