
@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url('../../assets/font/Refrigerator-Deluxe-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.container{
    position: relative;
    background-image: url('../../assets/images/background/S6BackgroundImage.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 125vh;
    position: relative;
    margin-top: -2.8%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */ 
    justify-content: flex-end;
}

.text-line, p{
    width: 60%;
    margin-left: 10%;
}

*{
    color: white;
    font-family: 'Refrigerator Deluxe', sans-serif;
    font-style: italic;
}